@using KhumaloCraftPOE.Repository
@using KhumaloCraftPOE.Models
@model ProductsViewModel

@{
    ViewData["Title"] = "My Work";
}

<div class="text-center">
    <h1 class="page-heading">My Work</h1>
    <ul class="crud-nav">
        <li><a href="MyWork/Create">Create New Product</a></li>
        
    </ul>
    <p>
        Here you can find a collection of various artworks!</p>
</div>



<div class="gallery-container">
    @foreach (var product in Model.Products)
    {
        <div class="gallery-item">
            <img src="@product.ImageUrl" alt="@product.Name" />
            <div class="description">
                <div class="item-title">
                    @product.Name
                </div>
                <p class="item-desc">
                    @product.Description
                </p>
                <p class="item-desc">
                    Category: @product.Category
                </p>
                <p class="item-price">
                    @product.Price.ToString("C")
                </p>
                <form asp-action="AddToOrder" asp-controller="MyWork" method="post">
                    <input type="hidden" name ="ProductId" asp-for=@product.ProductId>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    }
</div>

@* <div class="gallery-item">
        <img src="./Images/ProductImages/Vase.jpg" alt="Image Description">
    <div class="description">
        <div class="item-title">
            Duality Vase
        </div>
        <p class="item-desc">
            Handcrafted by skilled artisans, this stunning vase is a testament to modern elegance and sophistication.
            Crafted from premium ceramic, its smooth surface is adorned with delicate, hand-painted contrasting tones, evoking a sense of timeless beauty. The intertwining bases create a captivating visual appeal that effortlessly complements any decor style.
        </p>
        <p class="item-price">ZAR 12,000</p>
    </div>
</div>

<div class="gallery-item">
        <img src="./Images/ProductImages/ModernGlassTable.webp" alt="Image Description">
    <div class="description">
        <div class="item-title">
            Modern Chic Glass Table
        </div>
        <p class="item-desc">
            Crafted with precision from high-quality materials, this minimalist table boasts clean lines and a geometric silhouette, making it a perfect focal point for any modern interior.
            Its spacious surface provides ample room for displaying decorative accents or serving drinks, while the sturdy construction ensures durability and stability.
        </p>
        <p class="item-price">ZAR 25,000</p>
    </div>
</div>

<div class="gallery-item">
        <img src="./Images/ProductImages/GoldDND.webp" alt="Image Description">
    <div class="description">
        <div class="item-title">
            Gilded Glory D&D Dice Set
        </div>
        <p class="item-desc">
            Each precision-crafted polyhedral die is adorned with striking gold accents, adding a touch of regal elegance to your tabletop gaming experience.
            Crafted for both style and functionality, these dice are perfectly balanced for fair rolls, ensuring every game is as thrilling as it is visually stunning.
        </p>
        <p class="item-price">ZAR 40,000</p>
    </div>
</div>

<div class="gallery-item">
        <img src="./Images/ProductImages/Resin table.jpg" alt="Image Description">
    <div class="description">
        <div class="item-title">
            Nature's Nexus Wood Resin Table
        </div>
        <p class="item-desc">
            Handcrafted with meticulous attention to detail, this stunning table features a fusion of rich wood and mesmerizing resin, creating a one-of-a-kind centerpiece for your home.
            Each table is crafted from sustainably sourced wood and infused with vibrant resin accents, making every piece as unique as the natural world itself.
        </p>
        <p class="item-price">ZAR 45,000</p>
    </div>
</div> *@
@* </div> *@

